* {
    font-family: Avenir, Helvetica;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.search {
    margin: 50px auto 5% auto;
}

#searchBox {
    width: 100%;
    display: block;
    padding: 0;
    height: 50px;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    box-shadow: 0 5px 30px -10px rgb(180, 180, 180);
}

#searchBox:focus {
    outline: 0;
    border: 1px solid rgb(220, 220, 220);
}

#hint {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    padding: 10px 0;
    opacity: 0.7;
    display: none;
}

#hint:hover {
    opacity: 1;
}

div#appDetails {
    height: 72px;
    padding-left: 82px;
}

.appIcon {
    width: 72px;
    border-radius: 12.632px;
    float: left;
}

.appName {
    color: black;
}

a>.appName:hover {
    text-decoration: underline;
}

.appPrice {
    float: right;
}


#jsonView {
    background: #333;
    color: white;
    font-family: monospace;
    border-radius: 5px;
    margin: auto;
    display: none;
    box-shadow: inset 0 0 20px 0 #222;
}

#jsonView p {
    padding: 20px;
    overflow-x: hidden;
}

#btns {
    display: none;
    width: 200px;
    margin: 20px auto;
}

#btns .btn {
    width: 80px;
}

.btn {
    border: 1px solid black;
    color: black;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7em;
    opacity: 0.4;
    /*margin: 5px;*/
}

.btn:hover {
    opacity: 0.9;
}

#copyJSON {
    float: left;
}

#showJSON {
    float: right;
}

footer {
    font-size: 8px;
    opacity: 0.5;
    text-align: center;
    margin-top: 100px;
}

footer:hover {
    opacity: 1;
}

/* CLEARFIX */
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

@media all and (max-width: 800px) {
    .appName {
        font-size: 0.9em;
    }

    #jsonView p {
        font-size: 0.8em;
    }
}
